@page "/Public/EzGet/Feeds/{feedName}/Packages"
@using EasyAbp.EzGet.Localization
@using EasyAbp.EzGet.Public.Web.Pages.Public.EzGet.Feeds;
@using Microsoft.Extensions.Localization

@model PackagesModel

@inject IStringLocalizer<EzGetResource> L

@{
}

@section scripts {
    <abp-script-bundle>
        <abp-style src="/Pages/Public/EzGet/Feeds/packages.js" />
    </abp-script-bundle>
}

@section styles {
    <abp-style-bundle>
        <abp-style src="/Pages/Public/EzGet/Feeds/packages.css" />
    </abp-style-bundle>
}

<div id="package-registrations-container">
    @foreach (var packageRegistration in Model.PackageRegistrations.Items)
    {
        <div class="card mb-3">
            <div class="card-body">
                <abp-row class="item">
                    <input class="item-id" style="display:none" value="@packageRegistration.Id"/>
                    <div class="item-content col-md-10">
                        <div>
                            <abp-row>
                                <div class="col-md-2">
                                    <img src="/icon/packageDefaultIcon_nuget.png" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-10">
                                    <h5 class="card-title">@packageRegistration.PackageName</h5>
                                    <ul>
                                        <li class="card-text">@L["Version"]: @packageRegistration.LastVersion</li>
                                        <li class="card-text">@L["Size"]: @packageRegistration.Size</li>
                                        <li class="card-text">@L["DownloadCount"]: @packageRegistration.DownloadCount</li>
                                    </ul>
                                </div>
                            </abp-row>
                        </div>
                        <div>
                            <p class="card-text">@packageRegistration.Description</p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="item-owners-actions">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">@L["Owner"]</button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">@L["PublicPagePackages:AddOwner"]</a></li>
                                    <li><a class="dropdown-item" href="#">@L["PublicPagePackages:RemoveOwner"]</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item-delete-actions">
                            <div class="btn-group">
                                <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">@L["Delete"]</button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">@L["PublicPagePackages:Latest"]</a></li>
                                    <li><a class="dropdown-item" href="#">@L["PublicPagePackages:AllButLatest"]</a></li>
                                    <li><a class="dropdown-item" href="#">@L["PublicPagePackages:All"]</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </abp-row>
            </div>
        </div>
    }
</div>

@if (Model.PackageRegistrations.TotalCount <= 0)
{
    <h2>
        <p>@L["PublicPage:EmptyList"]</p>
    </h2>
}
else
{
    <abp-row>
        <abp-column>
            <abp-paginator model="Model.PagerModel" />
        </abp-column>
    </abp-row>
}
