@page
@using EasyAbp.EzGet.Admin.Web.Pages.EzGet.Feeds
@using EasyAbp.EzGet.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal

@model EditModalModel

@inject IStringLocalizer<EzGetResource> L

@{
    Layout = null;
}

<form method="post" asp-page="/EzGet/Feeds/EditModal">
    <abp-modal size="Large">
        <abp-modal-header title="@L["EditFeed"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-tabs name="FeedEditTabs">
                <abp-tab title="@L["Details"].Value">
                    <div style="display:none" id="dynamicForm"></div>
                    <abp-input asp-for="FeedInfo.Id" />
                    <abp-input asp-for="FeedInfo.ConcurrencyStamp" />
                    <abp-input asp-for="FeedInfo.FeedName" />
                    <div class="form-group">
                        <label for="FeedInfo_UserId">@L["UserId"]</label>
                        <div class="input-group">
                            <input asp-for="FeedInfo.UserId" type="text" class="form-control sreach-user-id" placeholder="@L["UserId"].Value">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary select-user" type="button">@L["SelectUser"]</button>
                            </div>
                        </div>
                    </div>
                    <abp-input asp-for="FeedInfo.Description" />
                    <abp-select asp-for="FeedInfo.FeedType" />
                </abp-tab>
                <abp-tab title="@L["Credentials"].Value">
                    <div class="pt-3 pb-5 clearfix">
                        <abp-row>
                            <abp-button id="AddNewCredentialButton" button-type="Primary" class="float-right">
                                <i class="fa fa-plus"></i>
                                @L["AddNew"]
                            </abp-button>
                        </abp-row>
                    </div>
                    <div class="table-responsive-sm" style="display:none">
                        <table class="table table-hover nowrap credentials-table">
                            <thead>
                                <tr>
                                    <th>@L["Id"]</th>
                                    <th>@L["Value"]</th>
                                    <th>@L["Description"]</th>
                                    <th>@L["Expires"]</th>
                                    <th>@L["Actions"]</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </abp-tab>
            </abp-tabs>
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel | AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
<div style="display:none">
    <div id="credentials">
        @for (int i = 0; i < Model.FeedCredentials.Count; i++)
        {
            <div>
                <input type="text" class="credential-id" value="@Model.FeedCredentials[i].Id" />
                <input type="text" class="credential-value" value="@Model.FeedCredentials[i].Value" />
                <input type="text" class="credential-description" value="@Model.FeedCredentials[i].Description" />
                <input type="text" class="credential-expires" value="@Model.FeedCredentials[i].Expires" />
            </div>
        }
    </div>
</div>
