@page
@using EasyAbp.EzGet.Admin.Web.Pages.EzGet.Feeds
@using EasyAbp.EzGet.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal

@model EditModalModel

@inject IStringLocalizer<EzGetResource> L

@{
    Layout = null;
}

<form method="post" asp-page="/EzGet/Feeds/EditModal">
    <abp-modal>
        <abp-modal-header title="@L["EditFeed"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-tabs name="FeedEditTabsId">
                <abp-tab title="@L["Details"].Value">
                    <abp-input asp-for="FeedInfo.Id" />
                    <abp-input asp-for="FeedInfo.ConcurrencyStamp" />
                    <abp-input asp-for="FeedInfo.FeedName" />
                    <div class="form-group">
                        <label for="FeedInfo_UserId">@L["UserId"]</label>
                        <div class="input-group">
                            <input asp-for="FeedInfo.UserId" type="text" class="form-control sreach-user-id" placeholder="@L["UserId"].Value">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary select-user" type="button">@L["SelectUser"]</button>
                            </div>
                        </div>
                    </div>
                    <abp-input asp-for="FeedInfo.Description" />
                    <abp-select asp-for="FeedInfo.FeedType" />
                </abp-tab>
                <abp-tab title="@L["Credentials"].Value">
                    <div class="pt-3 pb-5 clearfix">
                        <abp-row>
                            <abp-button id="AddNewCredentialButton" button-type="Primary" class="float-right">
                                <i class="fa fa-plus"></i>
                                @L["AddNew"]
                            </abp-button>
                        </abp-row>
                    </div>
                    <abp-table striped-rows="true" responsive-sm="true" id="CredentialTableId" style="@(Model.FeedInfo.CredentialIds.Count > 0 ? "" : "display: none;")">
                        <thead>
                            <tr>
                                <th scope="Column">@L["Value"]</th>
                                <th scope="Column">@L["Description"]</th>
                                <th scope="Column">@L["Expires"]</th>
                                <th scope="Column"></th>
                            </tr>
                        </thead>
                        <tbody id="CredentialTableBodyId">
                            @for (int i = 0; i < Model.FeedCredentials.Count; i++)
                            {
                                var credential = Model.FeedCredentials[i];

                                <tr>
                                    <td>
                                        @credential.Value
                                    </td>
                                    <td>
                                        @credential.Description
                                    </td>
                                    <td>
                                        @credential.Expires
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-sm btn-danger deleteCredentialButton float-right">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                    <td hidden>
                                        <abp-input asp-for="FeedInfo.CredentialIds[i]" abp-id-name="FeedInfo.CredentialIds[i]" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </abp-table>
                </abp-tab>
            </abp-tabs>
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel | AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
<input hidden id="CredentialsStartIndex" value="@Model.FeedCredentials.Count" />
