@page
@using EasyAbp.EzGet.Admin.Web.Pages
@using EasyAbp.EzGet.Admin.Web.Menus
@using EasyAbp.EzGet.Admin.Web.Pages.EzGet.Feeds
@using EasyAbp.EzGet.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Pages.Shared.Components.AbpPageToolbar

@model IndexModel

@inject IStringLocalizer<EzGetResource> L
@inject IPageLayout PageLayout

@{
    PageLayout.Content.Title = L["Feeds"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:EzGet"].Value);
    PageLayout.Content.MenuItemName = EzGetAdminMenus.Credentials.CredentialsMenu;
}

@section scripts {
    <abp-script-bundle>
        <abp-script src="/Pages/EzGet/Feeds/index.js"/>
        <abp-script src="/Pages/EzGet/Feeds/editModal.js"/>
        <abp-script src="/Pages/EzGet/Feeds/createModal.js"/>
    </abp-script-bundle>
}

@section content_toolbar {
    @await Component.InvokeAsync(typeof(AbpPageToolbarViewComponent), new { pageName = typeof(IndexModel).FullName })
}

<abp-card class="mb-4">
    <abp-card-header>
        <abp-row>
            <abp-column>
                <abp-card-title>@L["Feeds"]</abp-card-title>
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <div id="EzGetFeedsWrapper">
            <abp-row>
                <abp-column>
                    <form method="post" class="feeds-search-form">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">@L["UserId"]</span>
                                </div>
                            <input type="text" class="form-control sreach-user-id" placeholder="@L["UserId"].Value">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary select-user" type="button">@L["SelectUser"]</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <abp-button button-type="Primary" type="submit" class="mb-2">@L["Search"]</abp-button>
                        </div>
                    </form>
                </abp-column>
            </abp-row>
        </div>
    </abp-card-body>
</abp-card>

<abp-card>
    <abp-card-body>
        <abp-table striped-rows="true" id="FeedsTable" class="nowrap"></abp-table>
    </abp-card-body>
</abp-card>